
.datasets-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-view {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.item-view-edit {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.dataset-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}